<!doctype html>
<html>
<head><title>The Oregon Trail</title>
	
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/global.css">

</head>
<body>
	<div class="boxBack" id = "introText">
		<div>Robert Resto <br> The Oregon Trail Game <br> <br>
		</div>

			<div> <div id = "spacebarText" class  = "blinkingText"> 			          	    
			Press Spacebar To Continue 
			</div>
	</div>
	
<script type="text/javascript" src= "js/index.js"> </script>
<script type="text/javascript" src= "js/global.js"> </script>

</body>
</html>
