<!doctype html>
<html>
<head><title>The Oregon Trail</title>
	
<link rel="stylesheet" type="text/css" href="css/mainmenu.css">  
<link rel="stylesheet" type="text/css" href="css/global.css">

</head>
<body>
		
<div class = "boxback">
    
    <div class = "midCol"> The Oregon Trail 
    	<div class = "midTitle"> Main Menu 
		</div>
    		<div class = "menuOptions"> 1. Travel the trail <br> <br> 2. Learn about the trail <br> <br> 3. See the Oregon top 10 <br> <br> 4. Turn sound <span id = "soundButt">ON</span>
			</div>
    	<div id = "selectButt" class = "blinkingText"> Select an option
		</div>
	</div>
    
</div>		
	
<script src= "/js/mainmenu.js"> </script>
<script src= "/js/global.js"> </script>
	
</body>
</html>
