<!doctype html>
<html>
<head>
<title>The Oregon Trail</title>

<link rel="stylesheet" type="text/css" href="css/trail.css">  
<link rel="stylesheet" type="text/css" href="css/global.css">

</head>
<body>
	
<div class="test">
	<img src="/images/image3.png">
</div>
<div class = "boxback">
    <div class = "midCol"> <h1> You are on the Trail <br> Press Enter to Travel the Trail or press the Spacebar to go back to the menu<br>
</h1>
		The Oregon Trail 
    	<div id="statsTrail">
        	<p>Members Left: 5</p> <p id = "membersLeft"> </p>
        	<p>Total Health: 100</p> <p id = "health"> </p>
        	<p>Distance Traveled: 0</p> <p id = "distance"> </p>
        	<p>Days Traveled: 0</p> <p id = "daysTraveled"> </p>
        	<p>Pace: Steady</p> <p id = "currentPace"> </p>
        	<p>Current Terrain: N/A</p> <p id = "currentTerrain"> </p>
        	<p>Weather: N/A</p> <p id = "currentweather"> </p>
    	</div>  
    </div>
   
</div> 
	   
<script src= "/js/trail.js"></script> <br>
<script src= "/js/global.js"></script>

	
</body>
</html>
